*{
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Teko:400,300);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);


body{	
	font: 16px/20px 'Titillium Web', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #c6c4c5;
	background: #7e7a7d url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
}

.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
}

h1, h2, h3, button{
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

h1{
	font-size: 120px;
	line-height: 120px;
	letter-spacing: 18px;
	margin-bottom: 15px;
}

h2{
	font-size: 30px;
	letter-spacing: 4px;
	margin-bottom: 25px;
}

a{
	color: #fff;
	text-decoration: none;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.topBar{
	margin-bottom: 180px;
}

.logo{
	float: left;
	width: 70px;
	height: 70px;
}

.submenu{
	display: none;	
}

.menu{
	float: right;
	width: 70px;
	height: 70px;
	padding-top: 28px;
	background: #352d2f;
}

.bar{
	display: block;
	width: 25px;
	height: 2px;
	background: #fff;
	margin: 0px auto 4px;
}

main{
	width: 60%;
}

.lead{
	font-size: 26px;
	line-height: 34px;
	color: #deddde;
}

.content{
	width: 90%;
}

main section{
	margin-bottom: 60px
}

main section header{
	margin-bottom: 30px;
}

aside{
	width: 80%;
}

aside p{
	font-size: 18px;
}

form{
	margin-top: 35px;
}

input{
	font-size: 16px; 
	color: #555555;
	padding-left: 16px;
	width: 350px;
	height: 50px;
	border: 1px solid #e5e5e5;
}

button{
	vertical-align: top;
	width: 120px;
	height: 50px;
	border: none;
	font-size: 20px;
	letter-spacing: 2px;
	background: #f63c3c;
}


















